<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
  
  
  <Appenders>
    <File name="File" fileName="/Users/nathans/ir_plus_local/assetstore/logs/ir_plus_log/ur_common_util.log" 
            immediateFlush="false" append="true">
            <PatternLayout pattern="%d{yyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
    </File>
  </Appenders>
  
  
  <Loggers>
    <Logger name="edu.ir" level="DEBUG"/>
    <Root level="ERROR">
      <AppenderRef ref="File"/>
    </Root>
  </Loggers>
</Configuration>
